# Ignore the Vencord build/source directory
Vencord_Modified/

ui/

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore Node.js logs (if any are created in root)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore batch files
push.bat
build-exe.bat
start-gui.bat